@font-face {
  font-family: BrownStd-Bold;
  src: url("../BrownStd-Bold.otf");
}

@font-face {
  font-family: BrownStd-Light;
  src: url("../BrownStd-Light.otf");
}

@font-face {
  font-family: BrownStd-Regular;
  src: url("../BrownStd-Regular.otf");
}

@font-face {
  font-family: "Big Caslon Medium";
  src: url("Big Caslon Medium.ttf");
}

.outline {
  outline: 2px solid black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  width: 100vw;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

body {
  overflow-x: hidden;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 22%;
}

li {
  list-style: none;
  font-family: BrownStd-Regular;
  text-transform: uppercase;
  color: rgb(106, 106, 106);
  font-size: 0.9em;
}

li:hover {
  transition: 0.5s all ease;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px solid black;
}
.blanche {
  width: 35%;
  text-align: center;
}

.blanche > img {
  width: 35%;
}

.contact-and-icon-container {
  margin-right: 3em;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-and-icon-container > span:nth-child(1) {
  font-family: BrownStd-Regular;
  text-transform: uppercase;
  color: rgb(106, 106, 106);
  font-size: 0.9em;
  width: auto;
}

.cart-login-search-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.cart-login-search-container img {
  width: 15%;
}

.main-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img > img {
  width: 100vw;
  height: 86vh;
}
.main-img > p {
  position: absolute;
  font-family: "Big Caslon Medium";
  /* outline: 2px solid black; */
  width: 33%;
  text-align: center;
  color: rgb(106, 106, 106);
  font-size: 2.5em;
  margin-top: 2em;
}

.explore {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-family: BrownStd-Regular;
  color: rgb(192, 190, 191);
  width: auto;
  display: flex;
  bottom: 6em;
}
.line-container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 4.5em;
  width: 100%;
  /* outline: 2px solid black; */
}
.vl {
  border-left: 1px solid rgb(162, 161, 156);
  height: 10em;
  margin-left: 0.1em;
  top: 3em;
  z-index: 999;
}

.section-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.section-one p {
  font-family: "Big Caslon Medium";
  color: rgb(106, 106, 106);
  font-size: 1.5rem;
  width: 55%;
  text-align: center;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 5em;
}

.product-container {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.product-container > img {
  width: 35vw;
}

.btn-main-main-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 67em;
  height: 100%;
}
.btn-main-container {
  width: 50%;

  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.btn-container {
  position: absolute;
  background-color: white;
  border: none;
  margin-bottom: 4.5em;
  height: auto;
}

button {
  border: none;
  width: 10em;
  font-family: BrownStd-Regular;
  background-color: white;
  color: rgb(106, 106, 106);
  height: 4em;
  width: 20em;
  text-align: center;
}

button:hover {
  transition: 0.5s all ease;
  background-color: rgb(0, 0, 0, 0.6);
  color: #fff;
}

.section-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  width: 100vw;
}
.best-sellers {
  font-family: "Big Caslon Medium";
  font-size: 1.5rem;
  margin-bottom: 2em;
  color: rgb(106, 106, 106);
}

.best-selling-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
}
.best-seller-card,
.prod-details {
  display: flex;
  flex-direction: column;
}

.best-seller-card > img {
  width: 22.7vw;
  height: 20em;
}

.prod-details {
  margin-top: 10px;
}
.prod-details > span {
  padding-bottom: 10px;
}
.prod-details > span:nth-child(1) {
  font-family: BrownStd-Bold;
  color: rgb(106, 106, 106);
}
.prod-details > span:nth-child(2) {
  font-family: BrownStd-Light;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(106, 106, 106);
}
.prod-details > span:nth-child(3) {
  font-family: BrownStd-Light;
  color: rgb(196, 196, 196);
  font-size: 0.7rem;
}
.discount {
  color: rgb(106, 106, 106);
}

.section-three {
  width: 100vw;
  background-color: rgb(246, 246, 246);
  height: 60vh;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#heading {
  font-family: "Big Caslon Medium";
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.customer-satisfaction > img {
  width: 125vw;
}

.details-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}

.details {
  display: flex;
  flex-direction: column;
}

.details,
.details > span {
  padding-top: 15px;
}

.details span:nth-child(1) {
  font-family: BrownStd-Bold;
  font-size: 0.8rem;
  color: rgb(106, 106, 106);
  width: 60%;
  text-align: center;
  margin-left: 75px;
}
.details span:nth-child(2) {
  font-family: BrownStd-Light;
  font-size: 0.7rem;
  width: 55%;
  color: rgb(106, 106, 106);
  text-align: center;
  margin-left: 80px;
  color: rgb(106, 106, 106);
}

.section-four {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.five-star {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five-star > img {
  width: 8vw;
  margin-bottom: 2em;
}

.five-star > p {
  font-family: "Big Caslon Medium";
  color: black;
  font-size: 2rem;
  width: 60%;
  text-align: center;
  margin-bottom: 2em;
}

.five-star > .testimony {
  color: rgb(113, 113, 113);
  font-family: BrownStd-Regular;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(216, 216, 216);
  margin-bottom: 2em;
}

.follow-container {
  color: rgb(113, 113, 113);
  font-family: BrownStd-Regular;
  text-transform: uppercase;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.follow {
  margin: 10px;
}
.insta-icon {
  color: rgb(113, 113, 113);
  font-family: BrownStd-Regular;
  margin-top: 0.4em;
  height: 1.5em;
}

.section-five {
  display: flex;
  height: 50vh;
}
.section-five img:nth-child(1) {
  width: 25vw;
}
.section-five img:nth-child(2) {
  width: 75vw;
}

footer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-container-one {
  display: flex;
  justify-content: space-evenly;
  height: 20vh;
}
.footer-details-one {
  display: flex;
  flex-direction: column;
  width: 19vw;
}

.footer-details-one > span:nth-child(1) {
  font-family: BrownStd-Regular;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.footer-details-one > * {
  font-family: BrownStd-Light;
  color: rgb(106, 106, 106);
  font-size: 0.7em;
  padding: 0.5em;
}
.footer-details-one > p {
  width: 90%;
}

.newsletter-form {
  display: flex;
}

input[type="text"] {
  width: 75%;
  border: 2px solid rgb(239, 239, 239);
  padding: 0.8em;
  text-align: left;
  font-size: 1em;
  font-family: BrownStd-Bold;
}
#subscribe {
  width: 8em;
  height: 4em;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.1em;
  background-color: rgb(208, 208, 208);
  font-size: 1em;
}

.footer-container-two {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container-two span:nth-child(1) {
  font-size: 0.75em;
  padding: 6em;
}
.footer-container-two span {
  padding: 3em;
  font-family: BrownStd-Light;
  color: rgb(172, 172, 172);
}

#payment {
  width: 10vw;
}
